<input [formControl]="searchControl" placeholder="Enter city name" (click)="toggleResults()" (keyup)="isEnter($event.key)">
<div class="options" *ngIf='results?.length > 0'>
    <div class="option" *ngFor="let result of results" (click)=select(result)>
        {{result}}
    </div>
</div>
