:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}

input {
  width:100%;
  border:2px solid #1976d2;
  padding: 5px;
  font-weight: 600;
  box-sizing: border-box;
}


.options {
  position:absolute;
  top:100%;
  width:100%;
  padding:0 1px 1px;
  box-sizing: border-box;
  background: #2c3e50;
  color: #fff;
  cursor: pointer;
}

.option {
  padding: 5px;
}

.option:hover {
  color: #2c3e50;
  background:#fff;
}