<div class="container">
    <h2>Select city</h2>
    <app-select [options]='cities' (selectedChange)="selectedChange($event)"></app-select>
    <div class="result" *ngIf="result">
        <table>
            <tbody>
                <tr>
                    <td>Description</td>
                    <td>{{ result.weather[0].description }}</td>
                </tr>
                <tr>
                    <td>Temp.</td>
                    <td>{{ temperature | temperaturePipe: this.unit }} {{ unit.charAt(0) }}</td>
                </tr>
                <tr>
                    <td>Wind</td>
                    <td>{{ result.wind.speed }} m/s</td>
                </tr>
            </tbody>
        </table>
        <select class="units" [formControl]="unitsControl" (change)="unitsChange($event.target.value)">
            <option disabled>Select Temp. Units</option>
            <option *ngFor="let unit of units">{{unit}}</option>
        </select>
    </div>
    <div *ngIf="result === null">No results...</div>
</div>
