:host {
    width:100%;
    display:flex;
    justify-content: center;
}

.container {
    width:25%;
    text-align: center;
}

table {
    width: 100%;
    margin-top:25px;
    font: 400 14px/1.4 Roboto,Arial,sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    color: #505050;
    border: 1px solid #ddd;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
}

.units {
    margin-top: 5px;
}
